.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
*.pyc
astro
.venv
dbt_env/
.astro/standalone/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Secrets / keys
rsa_key.p8
rsa_key.pub
*.pem
*.key

# Local data / logs
raw_data/
ingestion_log.csv
logs/